.PortfolioItem {
  padding-bottom: 30%;
}
.PortfolioItem img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -550px; /* Half the height */
  margin-left: -250px; /* Half the width */
}

.PortfolioItem-user-control {
  position: fixed;
  bottom: 5%;
}

.parallax {
  z-index: -1;
}

.PortfolioItem-header-image-inside {
  height: 500px;
  width: 100%;
}

.PortfolioItem-content {
  width: 80%;
  margin: 0 auto;
}

.PortfolioItem-header-title {
  padding: 30px 0;
}

.PortfolioItem-header-button {
  background: #000;
  color: #fff;
  border-radius: 0;
  margin-bottom: -30px;
  position: relative;
  top: -25px;
  cursor: pointer;
}

.PortfolioItem-header-title h1 {
  padding-bottom: 15px;
}

.PortfolioItem-header-title hr {
  color: #000;
}
@media (min-width: 500px) {
  .PortfolioItem img {
    width: 720px;
    margin-left: 0;
  }
}

@media (min-width: 640px) {
  .PortfolioItem-header-button {
    left: 10%;
  }
}

@media (min-width: 1024px) {
  .PortfolioItem img {
    width: 1280px;
  }
}

@media (min-width: 1440px) {
  .PortfolioItem img {
    width: 1600px;
  }
}