.Projects {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.Projects > * {
  padding: 15px 0;
}

.Projects img {
  width: 100%;
}

.Projects p {
  text-transform: uppercase;
  text-align: left;
  padding: 5px 0;
}

@media (min-width: 640px) {
  .Projects > * {
    padding: 15px 0;
    width: 48%;
  }
  .Projects-list {
    display: flex;
    flex-flow: row;
  }
}

