.Projects {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.Projects img {
  width: 100%;
}

.Projects p {
  text-transform: uppercase;
  text-align: left;
  padding: 5px 0;
}

.Projects-list > * {
  padding: 15px 0;
}

.Projects-image-container {

}

@media (min-width: 640px) {
  .Projects-image-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}

