body {
  font-family: 'Lato', sans-serif
}
a {
  color: #30A9DE;
  text-decoration: none;
}

input, textarea {
  border: 2px solid #30A9DE;
  padding: 3px 5px;
  border-radius: 15px;
}

button {
  padding: 10px 12px;
  background: #30A9DE;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 15px;
}

h1 {
  font-size: 1.2em;
}
