.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-logo {
  height: 100px;
  width: 30%;
  margin-left: 150px;
}

.Header-logo img {
  height: 100px;
  width: 52px;
}

.Header-nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}