.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-logo {
  width: 30%;
}

.Header-nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}