.Login {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.Login input {
  border: 2px solid #30A9DE;
  padding: 3px 5px;
  border-radius: 15px;
}

.Login button {
  padding: 20px;
  background: #30A9DE;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}